<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>

<p th:text="${'Username: ' + user.username}">VALUE</p>
<p th:text="${'ID: ' + user.id}">VALUE</p>
<p th:text="${'Email: ' + user.email}">VALUE</p>

<a th:href="@{/admin/users/edit(id=${user.getId()})}">Edit</a>
<br/>
<br/>

<form th:method="post" th:action="@{/admin/users/delete(id=${user.getId()})}">
    <input type="submit" value="Delete"/>
</form>
<br/>
<br/>
<a href="http://localhost:8080/logout">Log out</a>
</body>
</html>
